@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: neurial-grotesk;
  src: url("./fonts/Fontspring-DEMO-neurialgrotesk-regular.otf");
}

.auth-btn{
    /* font-family: neurial-grotesk;
    font-weight: 500;
    font-size: 20px; */
}

.ss{
  /* @apply container mx-auto p-[25px] md:px-[15px] lg:py-[33px] lg:px-[99px] lg:grid grid-cols-3 gap-8 min-h-screen */
}

@theme{
    --font-sansita:  "Sansita", serif;
    
}


